*

{
    margin: 0;
    padding: 0;

}


header
{
    background-color: white;
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li
{
    display: inline-block;
}

.main-nav li a
{
    color: black;
    text-decoration: none;
    padding: 15px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}


.main-nav li.active a
{
    border-radius: 50px;
    border: 1px solid black;
}

.main-nav li a:hover
{
    border-radius: 50px;
    border: 1px solid gray;
}

body
{
    font-family: monospace;
}


.row
{
    max-width: 1200px;
    margin: auto;
}

.hero
{
    position: absolute;
    width: 1200px;
    height: 10px;
    margin-left: 0;
    margin-top: 0;
}

h1
{
    color: grey;
    text-transform: uppercase;
    font-size: 55px;
    text-align: center;
    margin-left: 165px;
    margin-top: 95px;
    margin-bottom: 25px;
}

.box
{
    border-radius: 25px;
    width: 750px;
    padding: 50px;
    position: absolute;
    margin-top: 0px;
    margin-left: 79px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: #d6cce0;
    text-align: center;
}

.loginhere
{
    text-align: center;
    font-family: "Roboto", sans-serif;
    position: absolute;
    margin-top: 960px;
    margin-left: 570px;
    margin-bottom: 100px;

}

.box input[type = "text"],.box input[type=password]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    padding: 14px 10px;
    width: 350px;
    outline: none;
    transition: 0.25s;
}

.box input[type = "text"]:focus,.box input[type=password]:focus
{
    width: 370px;
    border-color: darkblue;
    border-radius: 15px;
}

.box input[type="submit"]
{
    border: 0;
    margin-top: 100px;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    padding: 14px 10px;
    width: 125px;
    outline: none;
    transition: 0.25s;
    cursor: pointer;
    font-weight: bold;
}

.box input[type="submit"]:focus
{
    width: 150px;
    border-color: darkblue;
    border-radius: 15px;
}

.enteremail
{
    font-family: "Roboto", sans-serif;
}

.enterusername
{
    font-family: "Roboto", sans-serif;
}

.enterpassword
{
    font-family: "Roboto", sans-serif;
}

.agreetos
{
    display: block;
    position: relative;
    font-family: "Roboto", sans-serif;
    padding-bottom: 12px;
    padding-top: 12px;
}

.agreetomail
{
    display: block;
    position: relative;
    font-family: "Roboto", sans-serif;
}